# pip install -r requirements.txt

# base ----------------------------------------

matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

tensorflow>=2.5.0*
keras==2.4.3
imutils==0.5.4
argparse==1.4.0

# plotting ------------------------------------

seaborn>=0.11.0
pandas

# deep_sort -----------------------------------

easydict

-r yolov5/requirements.txt

# webserver etc
flask
flask_cors
flask_restful
websocket-server